---
const { src, name, href, size=6 } = Astro.props;
---

<a href={href} class="text-gray-500">
  <img
    class=`w-${size} filter hover:invert-[.16] hover:sepia-[.78] hover:saturate-200 hover:hue-rotate-[269deg] hover:brightness-[.64] hover:contrast-100`
    src={src}
    alt={name}
  />
  <span class="sr-only">{name}</span>
</a>
